<div class="ui-fluid ui-g-12">
  <p-card title="Nova Proposta" subtitle="Cadastro" [style]="{width: '360px'}"
          styleClass="ui-card-shadow card-principal">
    <div class="info">Realize o cadastro de uma nova proposta de cartão do nosso estabelecimento.
      Lembre-se de solicitar ao cliente, dados pessoais e seu endereço de correspondência.
    </div>
    <p-footer>
      <button pButton type="button" label="Iniciar Proposta" class="ui-button-success" icon="fa-check"></button>
    </p-footer>
  </p-card>

  <p-card title="Resultados" subtitle="Listagem" [style]="{width: '360px'}"
          styleClass="ui-card-shadow card-principal">
    <div class="info">Acompanhe o andamento ou resultado das propostas cadastradas por você.
    </div>
    <p-footer>
      <button pButton type="button" label="Acompanhar" class="ui-button-success" icon="fa-check"></button>
    </p-footer>
  </p-card>
</div>