<p-dialog #dialog
          *ngIf="!!idProposta"
          [header]="'Aprovação de Proposta'"
          [(visible)]="visible"
          [resizable]="true"
          [modal]="true"
          [closable]="false"
          [closeOnEscape]="false"
          [style]="{'max-width': '600px', 'max-height': '600px'}">
  <div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup-addon">
        <label for="credito">Crédito *</label>
        <input pInputText type="text" id="credito" [textMask]="{mask: mascaraValor}" [(ngModel)]="credito"/>
        <span *ngIf="exibirErroCreditoNulo" class="error-form">Campo obrigatório</span>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-sm-12 ui-md-3 pull-right">
        <button pButton (click)="cancelar()" type="button" icon="fa-times"
                label="Cancelar" [disabled]="loading"></button>
      </div>
      <div class="ui-sm-12 ui-md-3 pull-right">
        <button pButton (click)="aprovarProposta()" class="ui-button-success" type="button" icon="fa-check"
                [label]="loading ? 'Aprovando' : 'Aprovar'" [disabled]="loading"></button>
      </div>
    </div>
  </div>
</p-dialog>
