.card-auth {
  @media (max-width: 767px) {
    width: 95% !important;
  }

  width: 500px;
  margin: 10% auto;

  label {
    width: 100%;
  }

  input {
    width: 100%;
  }

  button {
    @media (max-width: 767px) {
      width: 100% !important;
    }

    float: right;
  }
}