.card-principal {
  @media (max-width: 767px) {
    width: 100% !important;
  }

  float: left;
  border-radius: 10px;

  .info {
    height: 94px;
  }
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  p-footer {
    button {
      @media (max-width: 767px) {
        width: 100% !important;
      }
    }
  }
}