<div *ngIf="usuarioLogado()">
  <div class="topbar d-flex justify-content-end align-items-center">
    <span class="mr-auto ml-3">Perfil: {{ getPapelUsuario() }}</span>
    <span class="mr-2">Bem vindo, {{ authService.getUsuarioLogado().nome }}</span>
    <button pButton type="button" (click)="deslogar()" icon="fa-close" label="Sair" class="ui-button-warning mr-3"></button>
  </div>

  <router-outlet></router-outlet>
</div>

<div *ngIf="usuarioNaoLogado()">
  <router-outlet></router-outlet>
</div>
