<form [formGroup]="loginForm" (submit)="logar()">
    <div class="card card-auth">
      <div class="card-body">
        <div class="ui-g-12">
          <h3 class="card-title">Login</h3>
          <h6 class="card-subtitle mb-2 text-muted">Para acessar o sistema</h6>
        </div>
  
        <div class="ui-g-12">
            <div class="ui-inputgroup-addon">
              <label for="email">E-mail</label>
              <input pInputText type="email" id="email" formControlName="email"/>
              <span *ngIf="formSubmetido && loginForm.get('email').hasError('required')" class="error-form">Campo obrigatório</span>
              <span *ngIf="formSubmetido && loginForm.get('email').hasError('email')" class="error-form">E-mail inválido</span>
            </div>
        </div>
  
        <div class="ui-g-12">
            <div class="ui-inputgroup-addon">
              <label for="senha">Senha</label>
              <input pInputText type="password" id="senha" formControlName="senha"/>
              <span *ngIf="formSubmetido && loginForm.get('senha').hasError('required')" class="error-form">Campo obrigatório</span>
            </div>
        </div>
  
        <div class="ui-g-12">
          <button pButton type="submit" [label]=" loading ? 'Acessando' : 'Acessar'" [disabled]="loading" class="ui-button-success" icon="fa-check"></button>
        </div>
      </div>
    </div>
  </form>